{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand"  href="{% url "home" %}" ><img src="{% static "images\logo.jfif" %}" class="img-thumbnail rounded" width="90px" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "about" %}">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "contact" %}">contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "todolist" %}">todolist</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
        <form class="d-flex flex-row" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <div class="pe-2"><span class="align-middle">logged As {{ user.username }}</span></div>
            <div class="pe-2"><button class="btn text-secondary p-0 m-0" type="submit">logout</button></div>
        </form>
        {% else %}
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url "login" %}">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "register" %}">register</a>
            </li>
        </ul>
        {% endif %}
        
      </div>
    </div>
  </nav>